<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./public/scripts/jquery.js"></script>
    <title>Chat</title>
</head>
<body>
    <h1 id="status"><%= username %></h1><h1 id="state">Offline</h1>
    <input type="text" id="newMessage">
    <button id="submit">Send</button>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        socket.emit('newConnection', '<%- username %>');

        socket.on('newMessage', function(data) {
            var content = '<p class=chat>' + data.user + ' : ' + data.content + '</p>';
            $(content).insertAfter(".chat:last");
        });

        socket.on('state', function(data) {
            $('#state').text(data.value);
            $('<h3 class="chat">Chat - General</h3>').insertAfter("#submit");
        });

        socket.on('info', function(data) {
            if(data.type == 'left')
                var content = '<p><b class=chat>INFO : ' + data.user + ' disconnect</b><p>';
            else
                var content = '<p><b class=chat>INFO : ' + data.user + ' is now connected</b></p>';
            $(content).insertAfter(".chat:last");
        });

        $('#submit').click(function(){
            socket.emit('message', $('#newMessage').val());
            var content = '<p class=chat>You : ' + $('#newMessage').val() + '</p>';
            $(content).insertAfter(".chat:last");
            $('#newMessage').val("");
        });

        $(window).bind('beforeunload', function(){
            socket.emit('left');
        });
    </script>
</body>
</html>