<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./public/scripts/jquery.js"></script>  
</head>
<body>
    <h1>Choose an username</h1>
    <input type="text" name="username" id="username">
    <button id="go">Go</button>
    <script>
        $('#go').click(function(){
            //$.get('chat', {username: $('#username').val()});
            location.replace('chat?username=' + $('#username').val());
        });
    </script>
</body>
</html>