<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <script src="./public/scripts/jquery.js"></script>
    <script>
        function clickButton() {
            console.log("hi");
            var temp = './entry/' + document.getElementById('ToDo').value;
            $.post(temp);
            console.log(temp);
            //location.reload(); 
        }
        function removeElement(Id){
            var temp = './entry/' + Id;
            $.ajax({
                url: temp,
                type: 'DELETE',
            });
            console.log("remove");
            //location.reload(); 
            removeElement(this.id)
        }
    </script>
</head>
<body>
    <h1>My ToDoList</h1>
    <%
    for(var i = 0 ; i < list.length ; i++) {
    %>
    <%- '<h3 id="' + i  + '" onclick="removeElement(this.id)">' + list[i] + '</h3>'%>
    <% } %> 
    <h3>Que dois-je faire?</h3><input type="text" id="ToDo"><button id="submit" onclick='clickButton();'>Valider</button>
</body>
</html>